.ticket-container {
    display: flex;
    gap: 15px;
    /* spacing between numbers */
    justify-content: center;
    margin-top: 200px;
}

body {
    margin: 0;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    /* horizontal center */
    align-items: center;
    /* vertical center */
}